<form (ngSubmit)="submit()" #myForm="ngForm" class="x3ui-form" novalidate>

  <div>
    <label for="surname" class="form-label">Surname</label>
    <input id="surname" class="form-control" required minlength="5" pattern="^[a-z]+$"
           #surname="ngModel" name="surname" [(ngModel)]="model.surname">
    <app-form-errors label="Surname" [model]="surname" [errors]="{ pattern: 'lowercase letters only' }"></app-form-errors>
  </div>

  <div>
    <label for="car" class="form-label">Car</label>
    <select id="car" class="form-select" required
            #car="ngModel" name="car" [(ngModel)]="model.car">
      <option value="">Choose a car</option>
      <option *ngFor="let car of cars" [value]="car.value">{{ car.name }}</option>
    </select>

    <div class="x3ui-form-errors" [class.invisible]="car.valid || car.untouched">
      <span *ngIf="car.errors; else none">{{ keys(car.errors)[0] }}</span>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="myForm.form.invalid">submit</button>
</form>

<ng-template #none><span>no error</span></ng-template> <!-- maintains spacing if there is no error but will never be visible -->
