<form (ngSubmit)="bsSubmit()" #bsForm="ngForm" class="x3ui-validate" novalidate>

  <div>
    <label for="bsSurname" class="form-label">Surname</label>
    <input id="bsSurname" class="form-control" required minlength="5" pattern="^[a-z]+$"
           #bsSurname="ngModel" name="bsSurname" [(ngModel)]="model.bsSurname">

    <div class="x3ui-form-errors" [class.invisible]="bsSurname.untouched || !bsSurname.errors">
      <span *ngIf="bsSurname.errors?.required; else bsMinlength">required</span>
      <ng-template #bsMinlength>
        <span *ngIf="bsSurname.errors?.minlength; else bsUnknown">{{ bsSurname.errors.minlength.requiredLength }} chars min</span>
      </ng-template>
      <ng-template #bsUnknown><span *ngIf="bsSurname.errors; else bsNone">{{ keys(bsSurname.errors)[0] }} error</span></ng-template>
      <ng-template #bsNone><span>no error</span></ng-template>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="bsForm.form.invalid">submit</button>
</form>
