<form (ngSubmit)="bsSubmit()" #bsForm="ngForm" class="x3ui-validate" novalidate>

  <div>
    <label for="bsSurname" class="form-label">Surname</label>
    <input id="bsSurname" class="form-control" required minlength="5" pattern="^[a-z]+$"
           #bsSurname="ngModel" name="bsSurname" [(ngModel)]="bsSurname">

    <div class="x3ui-form-errors" [class.invisible]="bsSurname.untouched || !bsSurname.errors">
      <span *ngIf="bsSurname.errors?.required; else minlength">required</span>
      <ng-template #minlength><span *ngIf="bsSurname.errors?.minlength; else unknown">{{ bsSurname.errors.minlength.requiredLength }} chars min</span></ng-template>
      <ng-template #unknown><span *ngIf="bsSurname.errors; else none">{{ keys(bsSurname.errors)[0] }} error</span></ng-template>
      <ng-template #none><span>no error</span></ng-template>
    </div>

  </div>

  <button type="submit" class="btn btn-primary" [disabled]="bsForm.form.invalid">submit</button>

</form>
