:host-context(:root, html[data-bs-theme='light']) {
  --grid-item-bg-color: #f7f7f7;
  --grid-item-text-color: #333;
  --nice-car: url('~src/assets/images/nice-car-dark.png') center no-repeat var(--grid-item-bg-color);
}

:host-context(html[data-bs-theme='dark']) {
  --grid-item-bg-color: #292929;
  --grid-item-text-color: #fff;
  --nice-car: url('~src/assets/images/nice-car-light.png') center no-repeat var(--grid-item-bg-color);
}

.route3 {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;

    .grid-item {
      background-color: var(--grid-item-bg-color);
      border-radius: 5px;
      padding: 12px;

      &.nice-car {
        background: var(--nice-car);
      }

      &.emoji {
        background: url('~src/assets/images/emoji.gif') center no-repeat var(--grid-item-bg-color);
        background-size: 200px 200px;
      }

      &.image {
        width: 100%;
        height: 250px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &.other {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin: 0 10px;
        }
      }
    }
  }

  .plain-text {
    color: var(--grid-item-text-color);
    font-size: 36px;
  }

  .not-an-image {
    color: #333;
    font-size: 36px;
    background-color: yellow;
    padding: 20px 40px 22px;
    border-radius: 5px;
  }
}
