<div class="route3">
  <div class="grid">
    <div class="grid-item image">
      <img src="assets/images/car.jpg">
    </div>
    <div class="grid-item image">
      <img src="assets/images/car2.jpg">
    </div>
    <div class="grid-item image">
      <img src="assets/images/passport.png">
    </div>
    <div class="grid-item image">
      <img src="assets/images/person.jpg">
    </div>
    <div class="grid-item image">
      <img src="assets/images/pineapple.jpg">
    </div>
    <div class="grid-item other">
      <img src="assets/images/green-tick.png">
      <img src="assets/images/red-cross.png">
    </div>
    <div class="grid-item other">
      <div class="plain-text">Just some plain text</div>
    </div>
    <div class="grid-item other">
      <div class="not-an-image">I am not an image</div>
    </div>
    <div class="grid-item other">&nbsp;</div>
  </div>
</div>
