$success: #198754;
$failure: #dc3545;
$lightBgBlue: #f3fafe;

$reedPiccadilyBlue: #081351;
$reedRoyalBlue: #1E1EF0;
$reedVictoriaBlue: #6FCFE1;
$reedDoubleDeckerRed: #E32424;
$reedLibertyLilac: #7855C3;
$reedTottenhamTeal: #19D2C3;
$reedPrimroseHillYellow: #FFEB1E;
