$appBlue: #333c4e;
$appLightBlue: #0e85d4;

$success: #198754;
$failure: #dc3545;
$lightBgBlue: #f3fafe;

// REED Master Palette
$REEDDarkBlue: #081351; // Piccadilly Blue
$REEDBlue: #1e1ef0; // Royal Blue
$REEDLightBlue: #6fcfe1; // Victoria Blue
$REEDRed: #e32424; // Double Decker Red
$REEDLilac: #7855c3; // Liberty Lilac
$REEDTeal: #19d2c3; // Tottenham Teal
$REEDYellow: #ffeb1e; // Primrose Hill Yellow
