@import 'src/styles/colors';

@mixin inputBorderStatus {
  .form-control.ng-touched, .form-select.ng-touched {
    &.ng-valid {
      border-color: $success;
    }

    &.ng-invalid {
      border-color: $failure;
    }
  }

  .form-control, .form-select {
    &:has(+app-form-errors > .x3ui-form-errors.instant-error) {
      border-color: $failure;
    }
  }
}
