@import 'src/styles/colors';

@mixin inputBorderStatus {
  input.form-control.ng-touched, .form-select.ng-touched {
    &.ng-valid {
      border-color: $success;
    }

    &.ng-invalid {
      border-color: $failure;
    }
  }

  input.form-control, .form-select {
    &:has(+app-form-errors > .x3ui-form-errors.instant-error) {
      border-color: $failure;
    }
  }

  .form-floating > input.form-control {
    &:has(+.form-label +app-form-errors > .x3ui-form-errors.instant-error) {
      border-color: $failure;
    }
  }

  // $boxShadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); // default bootstrap box shadow for input focus
  $boxShadow: 0 0 0 0.3rem rgba(13, 110, 253, 0.25);

  textarea.form-control.ng-touched {
    &.ng-valid {
      outline: 1px solid $success;

      &:focus {
        box-shadow: $boxShadow;
      }
    }

    &.ng-invalid {
      outline: 1px solid $failure;

      &:focus {
        box-shadow: $boxShadow;
      }
    }
  }

  textarea.form-control {
    &:has(+app-form-errors > .x3ui-form-errors.instant-error) {
      outline: 1px solid $failure;

      &:focus {
        box-shadow: $boxShadow;
      }
    }
  }
}
