@mixin inputBackgroundLight($color: #eee, $includeCheckboxes: false) {
  .form-control, .form-select {
    background-color: $color;
  }

  textarea.form-control {
    border-color: darken($color, 3%);
  }

  @if $includeCheckboxes {
    .form-check-input:not(:checked) {
      background-color: $color;
      // border-color: $borderColor;
    }
  }
}
