@mixin labelRequired {
  .form-label:has(+.form-control:required):after, .form-label:has(+.form-select:required):after, .form-label.required:after {
    content: ' *';
    color: red;
    font-weight: normal;
  }
}
