<form (ngSubmit)="submit()" #myForm="ngForm" class="x3ui-form" novalidate>

  <app-form-control label="Age" [inline]="true">
    <input type="number" class="form-control" name="age" required pattern="^\d*$" min="18" max="120"
           [(ngModel)]="model.age">
  </app-form-control>

  <app-form-control label="Surname" [errors]="{ required: 'dont leave me empty' }">
    <input class="form-control" name="surname" required pattern="^[a-z]+$" minlength="5"
           [(ngModel)]="model.surname">
  </app-form-control>

  <app-form-control label="Car">
    <select class="form-select" name="car" required
            [ngModel]="model.car" (ngModelChange)="carChange($event)">
      <option value="">Choose a car</option>
      <option *ngFor="let car of cars" [value]="car.value">{{ car.name }}</option>
    </select>
  </app-form-control>

  <button type="submit" class="btn btn-primary" [disabled]="myForm.form.invalid">submit</button>
</form>
