<form (ngSubmit)="submit()" #myForm="ngForm" class="x3ui-form" novalidate>

  <!-- Adding class="xxxxx" is optional since this is added by <app-form-control> and <app-form-check> -->
  <!-- but adding this may help to reduce jump on page load for busy pages -->

  <app-form-control label="Age" [inline]="true">
    <input type="number" class="form-control" name="age" required pattern="^\d*$" min="18" max="120"
           [(ngModel)]="model.age">
  </app-form-control>

  <app-form-control label="Surname" [errors]="{ required: 'dont leave me empty' }">
    <input class="form-control" name="surname" required pattern="^[a-z]*$" minlength="5"
           [(ngModel)]="model.surname">
  </app-form-control>

  <app-form-control label="Car">
    <select class="form-select" name="car" required
            [ngModel]="model.car" (ngModelChange)="carChange($event)">
      <option value="">Choose a car</option>
      <option *ngFor="let car of cars" [value]="car.value">{{ car.name }}</option>
    </select>
  </app-form-control>

  <app-form-check label="Agree One?">
    <input type="checkbox" class="form-check-input" name="agree1" required [(ngModel)]="model.agree1">
  </app-form-check>
  <app-form-check label="Agree Two?">
    <input type="checkbox" class="form-check-input" name="agree2" required [(ngModel)]="model.agree2">
  </app-form-check>

  <br>

  <app-form-check label="Accept One?" [switch]="true">
    <input type="checkbox" class="form-check-input" name="accept1" required [(ngModel)]="model.accept1">
  </app-form-check>
  <app-form-check label="Accept Two?" [switch]="true">
    <input type="checkbox" class="form-check-input" name="accept2" required [(ngModel)]="model.accept2">
  </app-form-check>

  <br>

  <h6 class="radio-title">Choose a Pet</h6>
  <app-form-check label="Cat">
    <input type="radio" class="form-check-input" name="pet" required value="cat" [(ngModel)]="model.pet">
  </app-form-check>
  <app-form-check label="Dog">
    <input type="radio" class="form-check-input" name="pet" required value="dog" [(ngModel)]="model.pet">
  </app-form-check>

  <br>

  <button type="submit" class="btn btn-primary" [disabled]="myForm.form.invalid">submit</button>
</form>
