<header>
  <div>
    <a routerLink="route1" routerLinkActive="active">Custom Form</a>
    <a routerLink="route2" routerLinkActive="active">Form Controls</a>
  </div>

  <div class="btn-group">
    <button *ngFor="let fs of formStyles" class="btn" [ngClass]="formStyle === fs ? 'btn-primary' : 'btn-outline-primary'" (click)="changeFormStyle(fs)">
      <span>{{ fs | case: 'start' | replace: 'Bootstrap Plus': 'BS Plus' }}</span>
    </button>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>&nbsp;</footer>
