<div class="boody">
  <header>

    <div>
      <a routerLink="route1" routerLinkActive="active">Custom Form</a>
      <a routerLink="route2" routerLinkActive="active">Form Controls</a>
      <a routerLink="route3" routerLinkActive="active">Images</a>
    </div>

    <!-------------- [filters]="['blur', 'brightness', 'contrast', 'grayscale', 'hue-rotate', 'invert', 'opacity', 'saturate', 'sepia']" -->
    <app-css-filters width="200" [target]="true"
                     [filters]="['brightness', 'contrast', 'sepia', 'saturate', 'grayscale', 'hue-rotate', 'invert', 'opacity', 'blur']">
    </app-css-filters>

    <div class="lod-and-theme">

      <div class="lod">
        <button class="btn" (click)="toggleLod()">
          <span *ngIf="lod === 'light'" class="material-icons-two-tone light fade-in-slow">light_mode</span>
          <span *ngIf="lod === 'dark'" class="material-icons-two-tone dark fade-in-slow">dark_mode</span>
        </button>
      </div>

      <div class="dropdown theme-dropdown">
        <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
          <span>{{ theme | case: 'start' | replace: 'Bootstrap Plus': 'BS Plus' }}</span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let t of themes; trackBy: trackByFunc">
            <button class="dropdown-item" [class.active]="t === theme" (click)="changeTheme(t)">
              <span>{{ t | case: 'start' | replace: 'Bootstrap Plus': 'BS Plus' }}</span>
            </button>
          </li>
        </ul>
      </div>

    </div>
  </header>

  <main>
    <router-outlet (window:beforeunload)="onBeforeUnload()"></router-outlet>
  </main>

  <footer>&nbsp;</footer>

</div>
