@import 'mixins/square-corners-mixin';

html.x3ui-modern {
  @include squareCorners;

  form.x3ui-form {
    .form-label {
      color: cyan;
    }

    .form-control {
      background-color: cyan;
    }

    .form-select {
      background-color: cyan;
    }
  }
}
