@import 'src/styles/colors';

form:not(.x3ui-form) {
  .x3ui-form-errors {
    visibility: hidden;
  }
}

form.x3ui-form {
  .x3ui-form-errors {
    text-align: right;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: $failure;
    min-height: 1lh;
  }

  .form-check-input.ng-invalid.ng-touched + .form-check-label {
    color: $failure;
  }

  .form-check-label {
    @extend .ellipsis;
    display: table-caption; // adding .ellipsis increases gap between checkboxes / radios, this fixes the issue
    margin-left: 1px;
  }

  .radio-title {
    margin: 0 0 5px;
    font-weight: normal;
    font-style: italic;
  }

  textarea.form-control {
    border-radius: 5px 0 0 5px;
    padding-top: 4px;
    padding-bottom: 8px;
    min-height: 80px;
  }

  .form-floating > .form-control:focus ~ label::after,
  .form-floating > .form-control:not(:placeholder-shown) ~ label::after,
  .form-floating > .form-control-plaintext ~ label::after,
  .form-floating > .form-select ~ label::after {
    background-color: transparent;
  }

  .x3ui-form-control-group-inline {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 15px;

    & > .form-label {
      margin-top: auto;
      margin-bottom: auto;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 2lh;
    }

    & > .form-control, & > .form-select {
      align-self: center;
    }

    & > app-form-errors, & > .x3ui-form-errors {
      grid-column: 1 / 3;
    }
  }
}
