@import 'src/styles/animations';
@import 'src/styles/thin-scrollbar';
@import 'src/styles/x3ui';

html, body {
  height: 100%;
}

body {
  overflow-y: scroll;
  user-select: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}

// only very commonly used high level rules should be placed here
// everything else should be imported

.form-label[for], .form-check-label[for] {
  cursor: pointer;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.required-star:after {
  content: ' *';
  color: red;
  font-weight: normal;
}
